<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="fontawesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Početna</title>
</head>
<body>
<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light nav-bg">
    <div class="container">
      <a class="navbar-brand navbar-logo pl-5" href="index.html"><img src="img/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-links-bg">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item px-3">
              <a class="nav-link active" href="index.html">Početna</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="about.html">O Nama</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="action.html">Aktuelnosti</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="type.html">Vrste Radova</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="gallery.html">Galerija</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="contact.html">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
     <div class="bg-colors"></div>
    </div>

    <div class="container">
      <div class="description border-none pt-0 pb-2">
        <h1 class="description-title mb-3">Braća Lacko iz Padine:</h1>
        <p>  
          Preko 20 godina ulepšavamo vaše domove! Naša želja je da sa lepim i usklađenim bojama stvorimo udoban i moderan prostor
          u vašim domovima. Boje svakodnevno utiču na naš život i zato biramo najbolje i sa stilom.
        </p>
        <p>
          Većina naših poslova se obavlja u Beogradu, Pančevu i u okolnim mestima. Ali nemamo problem da dođemo i u druga mesta...
        </p>
        <ul>
          <li>Krečenje (Od poludisperzije do akrilnih boja)</li>
          <li>Gletujemo</li>
          <li>Postavljamo sve vrste tapeta</li>
          <li>Po vašoj zamisli i ideji obavljamo sve vrste gipsanih radova</li>
          <li>Spušteni plafoni</li>
          <li>Pregradni zidovi</li>
          <li>Police i mnogo drugih radova</li>
          <li>Farbanje stolarije</li>
          <li>Farbanje radijatora</li>
          <li>Saniranje starih zidova sa mrežom i gipsanim pločama</li>
          <li>Izolacija fasade stiroporom</li>
        </ul>
        <P>
          Ako vam je potrebno da u vašem domu sačuvate toplotu zimi a svežinu leti postavljamo izolaciju stiroporom kao i kamenom
          vunom na vasu fasadu. Efikasno i brzo obavljamo adaptaciju vaših stanova.
        </P>
        <p>
          Za svaku informaciju slobodno nazovite!
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-between ml-4 mr-4 my-5">
        <div class="thumbnail col-lg-4 col-md-12">
          <a href="action.html"><img src="img/latest-colors.png" alt=""></a>
        </div>
        <div class="thumbnail col-lg-4 col-md-12">
          <a href="type.html"><img src="img/inspiration.png" alt=""></a>
        </div>
        <div class="thumbnail col-lg-4 col-md-12">
          <a href="contact.html"><img src="img/color-expert.png" alt=""></a>
        </div>
      </div>
    </div>
  </main>
</div>

  <footer>
    <div class="container">
      <div class="row pt-5 px-5">
        <div class="logo col-lg-6 col-md-6 col-sm-12">
          <a href="index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="social col-lg-6 col-md-6 col-sm-12">
          <a href="https://www.facebook.com/Lacko-Colors-Molerski-radovi-1476137796048524/timeline/" target="_blank"><i class="mr-3 fab fa-facebook-square"></i></a>
          <a href="mailto:lackonadezdajan@gmail.com"><i class="mr-3 fas fa-envelope" target="_blank"></i></a>
          <a href="https://plus.google.com/112752112665938542292/posts?hl=sr" target="_blank"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
      <div class="copyright d-flex justify-content-center mt-5">
        Copyright © STUDIO El Shaddai 2015. All Rights Reserved
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>